<p id="notice"><%= notice %></p>

<h1>Contact People</h1>
<%= link_to 'New Contact Person', new_contact_person_path %>
<table>
  <thead>
    <tr>
      <th>English family name</th>
      <th>Chinese family name</th>
      <th>English given name</th>
      <th>Chinese given name</th>
      <th>English middle name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_people.each do |contact_person| %>
      <tr>
        <td><%= contact_person.English_Family_Name %></td>
        <td><%= contact_person.Chinese_Family_Name %></td>
        <td><%= contact_person.English_Given_Name %></td>
        <td><%= contact_person.Chinese_Given_Name %></td>
        <td><%= contact_person.English_Middle_Name %></td>
        <td><%= link_to 'Show', contact_person %></td>
        <td><%= link_to 'Edit', edit_contact_person_path(contact_person) %></td>
        <td><%= link_to 'Destroy', contact_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Person', new_contact_person_path %>
