<p id="notice"><%= notice %></p>

<h1>Software Versions</h1>

<%= link_to 'New Software Version', new_software_version_path %>

<table>
  <thead>
    <tr>
      <th>Software name</th>
      <th>Version number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @software_versions.each do |software_version| %>
      <tr>
        <td><%= software_version.Software_Name %></td>
        <td><%= software_version.Version_Number %></td>
        <td><%= link_to 'Show', software_version %></td>
        <td><%= link_to 'Edit', edit_software_version_path(software_version) %></td>
        <td><%= link_to 'Destroy', software_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Software Version', new_software_version_path %>
