<p id="notice"><%= notice %></p>

<h1>Work Order Durations</h1>
<%= link_to 'New Work Order Duration', new_work_order_duration_path %>
<table>
  <thead>
    <tr>
      <th>Work order</th>
      <th>Work order duration type</th>
      <th>Actual time</th>
      <th>Actual start date</th>
      <th>Actual end date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_order_durations.each do |work_order_duration| %>
      <tr>
        <td><%= work_order_duration.work_order.ServiceMax_WorkOrder_Number %></td>
        <td><%= work_order_duration.work_order_duration_type.SAP_Description %></td>
        <td><%= work_order_duration.Actual_Time %></td>
        <td><%= work_order_duration.Actual_Start_Date %></td>
        <td><%= work_order_duration.Actual_End_Date %></td>
        <td><%= work_order_duration.Description %></td>
        <td><%= link_to 'Show', work_order_duration %></td>
        <td><%= link_to 'Edit', edit_work_order_duration_path(work_order_duration) %></td>
        <td><%= link_to 'Destroy', work_order_duration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Order Duration', new_work_order_duration_path %>
