<p>
    <strong>English Name:</strong>
    <%= @customer.English_name%>
</p>
<p>
    <strong>Chinese Name:</strong>
    <%= @customer.Chinese_name%>
</p>
<p>
    <strong>Description</strong>
    <%= @customer.description%>
</p>
<p>
    <strong>Customer Groups</strong>
    <% @customer.customer_groups.each do |t|%>
    <%= link_to t.Customer_Group__Name_Chinese, customer_group_path(t)%>
    <% end %>
</p>
<p>
    <strong>Customer Contact People</strong>
    <% @customer.contact_people.each do |t|%>
    <%= link_to t.display_name,contact_person_path(t) %>
    <% end %>
</p>
<p>
    <strong>Instruments</strong><br>
    <% @customer.instruments.each do |t|%>
    <%= link_to t.description,instrument_path(t) %> <br>
    <% end %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %>
<%= link_to 'Back', customers_path %>
<h1> Update </h1>
<%= render @customer.updates.order(:happened_time) %>

<h1> Add an update </h1> <br>
<%= form_with(model:[@customer, @customer.updates.build], local: true) do |form| %>
    <p>
        <%= form.label :comment%><br>
        <%= form.text_area :comment%>
    </p>
    <br>
    <p>
        <%= form.label :happened_time %>
        <%= form.datetime_select :happened_time %>
    </p>
    <p>
    <%= form.submit%>
    
    </p>
<% end %>
