<p id="notice"><%= notice %></p>

<h1>Material Lists</h1>

<table>
  <thead>
    <tr>
      <th>Instrument</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_lists.each do |material_list| %>
      <tr>
        <td><%= material_list.instrument.description %></td>
        <td><%= material_list.name %></td>
        <td><%= material_list.description %></td>
        <td><%= link_to 'Show', material_list %></td>
        <td><%= link_to 'Edit', edit_material_list_path(material_list) %></td>
        <td><%= link_to 'Destroy', material_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material List', new_material_list_path %>
