<p id="notice"><%= notice %></p>

<p>
  <strong>Complaint:</strong>
  <%= link_to @complaint_update.complaint.Short_Description,complaint_path(@complaint_update.complaint) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @complaint_update.Description %>
</p>

<p>
  <strong>Complain status:</strong>
  <%= @complaint_update.complain_status_id %>
</p>

<p>
  <strong>Last updated on:</strong>
  <%= @complaint_update.Last_Updated_On %>
</p>

<%= link_to 'Edit', edit_complaint_update_path(@complaint_update) %> |
<%= link_to 'Back', complaint_updates_path %>

