<p id="notice"><%= notice %></p>

<p>
  <strong>Material type:</strong>
  <%= @material.material_type.Description_English %>
</p>

<p>
  <strong>Lot or serial number:</strong>
  <%= @material.Lot_Or_Serial_Number %>
</p>

<p>
  <strong>Manufacture date:</strong>
  <%= @material.Manufacture_Date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @material.Expiration_Date %>
</p>

<p>
  <%if @material.instrument != nil %>
      <strong>Customer:</strong>
      <%= link_to @material.instrument.customer.Chinese_name, customer_path(@material.instrument.customer)%><br>
  <%end %>
</p>
<p>
  <%if @material.storage_location != nil %>
    This material is stored at 
      <%= link_to @material.storage_location.description, storage_location_path(@material.storage_location)%>.<br>
  <%end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @material.Comment %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
