<p id="notice"><%= notice %></p>

<p>
  <strong>Material:</strong>
  <%= link_to @instrument.material.description, material_path(@instrument.material) %>
</p>

<p>
  <strong>Equipment number:</strong>
  <%= link_to @instrument.Equipment_Number %>
</p>

<% if @instrument.material_list.present? %>
  <p>
    <strong>Material List:</strong><br>
    <%= @instrument.material_list.materials.each do |t| %>
    <%= link_to t.description, material_path(t) %> <br><br>
    <% end %>
  </p>
<% end %>

<p>
<p>
    <strong>Software Versions</strong><br>
    <% @instrument.software_versions.each do |t|%>
    <%= link_to t.display_name,software_version_path(t) %> <br>
    <% end %>
</p>
<p>

<p>
    <strong>Service Contract</strong>
    <br>
    <% @instrument.service_contracts.each do |t|%>
    <%= link_to t.description,service_contract_path(t) %> <br>
    <% end %>
</p>
    <strong>Customer</strong>
        <%= link_to @instrument.customer.Chinese_name,customer_path(@instrument.customer) %> <br>
  
</p>

<p>
    <strong>Address:</strong>
   
    <% if @instrument.address.present?%>
        <%= link_to @instrument.address.Address_Chinese, address_path(@instrument.address) %> <br>
    <% end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @instrument.commont %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>

<p>
    <strong>Work Orders</strong>
    <% @instrument.work_orders.each do |t|%>
    <%= link_to t.Short_Description,work_order_path(t) %> <br>
    <% end %>
</p>