<%= form_with(model: service_person, local: true) do |form| %>
  <% if service_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_person.errors.count, "error") %> prohibited this service_person from being saved:</h2>

      <ul>
        <% service_person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_person_id %>
    <%= form.collection_select(:contact_person_id, ContactPerson.all, :id, :display_name, {include_hidden: false, :prompt => "George tells you to select"}, {:multiple => false}) %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
