<p id="notice"><%= notice %></p>

<p>
  <strong>Contact person:</strong>
  <%= @service_person.contact_person.display_name %>
</p>
<p>
  <strong>Work Oreders:</strong>
  <% @service_person.work_orders.each do |t| %>
  <%= link_to t.Short_Description,work_order_path(t) %> <br>
  <% end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @service_person.comment %>
</p>

<%= link_to 'Edit', edit_service_person_path(@service_person) %> |
<%= link_to 'Back', service_people_path %>
