<p id="notice"><%= notice %></p>

<p>
  <strong>English name:</strong>
  <%= @manufacturer.English_Name %>
</p>

<p>
  <strong>Chinese name:</strong>
  <%= @manufacturer.Chinese_Name %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
